# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## User settings
xcuserdata/

# macOS system files
.DS_Store

# Xcode
build/
DerivedData/
*.xcworkspace
*.xcuserstate
*.xccheckout
*.xcscmblueprint

# Swift Package Manager
.swiftpm
.build/
Packages/

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots

# Debug files
*.log

# Personal data
*.env
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/

